.DS_Store
/node_modules/
*.tsbuildinfo

# React Router
/.react-router/
/build/

# Cloudflare
.mf
.wrangler

.dev.vars*
# Allow the example
!.dev.vars.example


# Don't commit anything from the JetBrains IDEs
.idea/
